
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
/* navbar style*/
nav{
    width:100%;
    position: sticky !important;
    left:0;
    top: 0;
    box-shadow: 0px 5px 8px black;
    z-index: 10;

}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;

}
.nav-link:hover{ 
    border-bottom: 1px solid white;

}

/* style about page */
section{
    width:100%;
    min-height: 100vh;   
}
#about{
    width: 100%;
    height: 100vh;
    background:black;
}
#about .shadow{
    width: 600px;
    height: auto;
    margin: auto;
    background-color: wheat;
    margin-right: auto;
    border-style: ridge;
    border-color: aqua;
    margin-top: 0px;
    
}

#about img{
    border-radius: 50%;
    margin-left: 650px;
    margin-top: 130px;
    margin-right: 15%;
    border-style: groove;
    border-color:blueviolet;
    
     
}
/*responsive layout*/
@media screen and (max-width:576px) {

    nav{
        width:100%;
        position: sticky !important;
        left:0;
        top: 0;
        box-shadow: 0px 5px 8px black;
        z-index: 10;
    
    }
    .navbar-brand{
        font-weight: 400;
    }
    .nav-link{
        color: white !important;
    
    }
    .nav-link:hover{ 
        border-bottom: 1px solid white;
    
    }

    #about{
        width: 100%;
        height: 90vh;
        background:black;
    }

    #about img{
        border-radius: 50%;
        margin-left: 13%;
        margin-right: 12%;
        bottom: -10px;
        border-style: groove;
        border-color:blueviolet;
        padding: auto;
        position: relative;
        top: 70px;
         
    }

    #about .shadow{
        width: 300px;
        height: -auto;
        margin: auto;
        background-color: wheat;
        margin-right: auto;
        margin-bottom: auto;
        border-style: ridge;
        border-color: aqua;
        position: relative;
        top: 70px;
        
    }
}

/*style skills page */

section{
    width:100%;
    min-height: 100vh;   
}
#skills{
    width: 100%;
    height: 100vh;
    background: rgb(55, 56, 56);
}

/*style project page*/
section{
    width:100%;
    min-height: 100vh;   
}
#project{
    width: 100%;
    height: 100vh;
    background: rgb(63, 65, 60);
}

/*style contact page*/
section{
    width:100%;
    min-height: 100vh;   
}
#contact{
    width: 100%;
    height: 100vh;
    background: rgb(65, 57, 65);
}