@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav {
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 8px rgb(0, 0, 0, 0.5);
  z-index: 10;
}
.navbar-brand {
  font-weight: 600;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  border-bottom: 1px solid white;
}

/* styling home page  */
section {
  width: 100%;
  min-height: 100vh;
}
#home {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#home p{
  position: absolute;
  top: 50%;
  font-size: 100px;
  opacity: 0;
  animation: text 3s ease-in-out;
}
@keyframes text{
  50%{
    opacity: 10;

  }
  100%{
    opacity: 0;
  }
}

#home p:nth-child(1){
  animation-delay: 0s;
}
#home p:nth-child(2){
  animation-delay: 3s;
}

@media screen and (max-width:576px){
  #home p{
    font-size: 80px;
  }
}

/* styling about page*/
#about{
  background-color: palevioletred;
}
